---
title: Tags
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>全部文章</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        <li>
        {% if site.recommend-tags and site.tags.size>0 %}
            {% for tag in site.tags %}
            <a href="#{{ tag[0] }}" class="tag">{{ tag[0]}}</a>
            {% endfor %}
        {% endif %}
        </li>
        
        {% for tag in site.tags %}
        <li>
            <span class="tag-name" id="{{ tag[0] }}">「{{ tag[0] }}」</span>
            {% for post in tag[1] %}
            <a class="tag-post" href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>
        {% endfor%}
    </ul>
</main>

<!-- toolbar bottom -->
    <div class="toolbar">
        <div class="container">
            <ul class="toolbar-bottom toolbar-wrap">
                <li class="toolbar-item">
                    <a href="index.html" class="toolbar-link">
                        <i class="icon ion-ios-home"></i>
                    </a>
                </li>
                <li class="toolbar-item">
                    <a href="tags.html" class="toolbar-link toolbar-link-active">
                        <i class="icon ion-ios-albums"></i>
                    </a>
                </li>
                <li class="toolbar-item">
                    <a href="pages.html" class="toolbar-link">
                        <i class="icon ion-ios-browsers"></i>
                    </a>
                </li>
                <li class="toolbar-item">
                    <a href="apps.html" class="toolbar-link">
                        <i class="icon ion-ios-apps"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end toolbar bottom -->
    
{% include footer.html %}
